In [161]:
import numpy as np
import pandas as pd
import random
import matplotlib.pyplot as plt

In [6]:
cols = ['S1', 'C1', 'S2', 'C2', 'S3', 'C3', 'S4', 'C4', 'S5', 'C5', 'Class']
tr = pd.read_csv("poker-hand-training-true.data", names = cols)
tr

       S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  Class
0       1  10   1  11   1  13   1  12   1   1      9
1       2  11   2  13   2  10   2  12   2   1      9
2       3  12   3  11   3  13   3  10   3   1      9
3       4  10   4  11   4   1   4  13   4  12      9
4       4   1   4  13   4  12   4  11   4  10      9
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
25005   3   9   2   6   4  11   4  12   2   4      0
25006   4   1   4  10   3  13   3   4   1  10      1
25007   2   1   2  10   4   4   4   1   4  13      1
25008   2  12   4   3   1  10   1  12   4   9      1
25009   1   7   3  11   3   3   4   8   3   7      1

[25010 rows x 11 columns]

In [86]:
# def classify(hand):
#     suit = {}
#     rank = {}
#     s_max = 0
#     r = 0
#     res = 0
#     straight = 0
#     for index, atr in enumerate(hand):
#         if index % 2 == 0:
#             if atr in suit:
#                 suit[atr] += 1
#             else:
#                 suit[atr] = 1
#         else:
#             if atr in rank:
#                 rank[atr] += 1
#             else:
#                 rank[atr] = 1
#     s_max = 
#     if s_max == 5:
#         res = max(res, 5)
#     r = max(rank.values())
#     second = sorted(rank.values())[-2]
#     rank_ct_map = {(4, 1): 7, (3, 2): 6, (3, 1): 3, (2, 2): 2, (2, 1): 1, (1, 1): 0}
#     res = max(res, rank_ct_map[(r, second)])
#     rank_list = sorted(rank.keys())
#     if rank_list[0] == 1 and rank_list[-1] == 13:
#         seq = [1, 10, 11, 12, 13]
#     else:
#         seq = [rank_list[0] + i for i in range(5)]
#     if rank_list == seq:
#         straight = 1
#         res = max(res, 4)
#     if s_max == 5 and straight == 1:
#         if seq[0] == 1 and seq[4] == 13:
#             res = 9
#         else:
#             res = max(res, 8)
#     return res

In [ ]:
def classify(hand):
    suit = {}
    rank = {}
    r = 0
    res = 0
    straight = 0
    for index, atr in enumerate(hand):
        if index % 2 == 0:
            if atr in suit:
                suit[atr] += 1
            else:
                suit[atr] = 1
        else:
            if atr in rank:
                rank[atr] += 1
            else:
                rank[atr] = 1
    s_max = 
    if s_max == 5:
        res = max(res, 5)
    r = max(rank.values())
    second = sorted(rank.values())[-2]
    rank_ct_map = {(4, 1): 7, (3, 2): 6, (3, 1): 3, (2, 2): 2, (2, 1): 1, (1, 1): 0}
    res = max(res, rank_ct_map[(r, second)])
    rank_list = sorted(rank.keys())
    if rank_list[0] == 1 and rank_list[-1] == 13:
        seq = [1, 10, 11, 12, 13]
    else:
        seq = [rank_list[0] + i for i in range(5)]
    if rank_list == seq:
        straight = 1
        res = max(res, 4)
    if s_max == 5 and straight == 1:
        if seq[0] == 1 and seq[4] == 13:
            res = 9
        else:
            res = max(res, 8)
    return res

In [87]:
hit = 0
miss = 0
for i in range(len(tr)):
    entry = list(tr.iloc[i])
    ans = classify(entry[:-1])
    if ans == entry[-1]:
        hit += 1
    else:
        miss += 1
print(hit)
print(miss)

24956
54

In [88]:
te = pd.read_csv("poker-hand-testing.data", names = cols)
te

        S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  Class
0        1   1   1  13   2   4   2   3   1  12      0
1        3  12   3   2   3  11   4   5   2   5      1
2        1   9   4   6   1   4   3   2   3   9      1
3        1   4   3  13   2  13   2   1   3   6      1
4        3  10   2   7   1   2   2  11   4   9      0
...     ..  ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
999995   3   1   1  12   2   9   4   9   2   6      1
999996   3   3   4   5   2   7   1   4   4   3      1
999997   1  11   4   7   3   9   1  13   2   7      1
999998   3  11   1   8   1   1   3  13   2   8      1
999999   2   5   2   9   4   9   2   3   3   3      2

[1000000 rows x 11 columns]

In [89]:
hit = 0
miss = 0
for i in range(len(te)):
    entry = list(te.iloc[i])
    ans = classify(entry[:-1])
    if ans == entry[-1]:
        hit += 1
    else:
        miss += 1
print(hit)
print(miss)

1000000
0

In [151]:
def deal_x_cards(x, seen=None):
    deck = set()
    res = []
    for suit in range(1, 5):
        for rank in range(1, 14):
            deck.add(str(suit) + "_" + str(rank))
    if seen:
        deck = deck.difference(seen)
    drawn = random.sample(list(deck), k=x)
    for card in drawn:
        res.append([int(card[0]), (card[2:])])
    return res, set(drawn)

In [171]:
perc = {}
for i in range(10000):
    test, test2 = deal_x_cards(5)
    test = [int(item) for sublist in test for item in sublist]
    classification = classify(test)
    if classification in perc:
        perc[classification] += 1/100
    else:
        perc[classification] = 1/100

In [172]:
perc

{0: 50.06999999999861,
 1: 42.47000000000012,
 4: 0.48000000000000026,
 2: 4.599999999999946,
 3: 2.2799999999999954,
 7: 0.01,
 6: 0.09}